.home-destinations {
  margin: 50px 0px 0px 0px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;;
  color: #4F4F4F;
  font-family: pretty-font;
  width: 75%;
}

.home-destinations-row {
  height: 355px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.home-destination-sub-row {
  height: 355px;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-destination-big {
  width: 49%;
  height: 355px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.home-destination-big:hover {
  cursor: pointer;
}

.home-destination-small {
  display: flex;
  height: 172px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.home-destination-small:hover {
  cursor: pointer;
}

.home-destination-text {
  padding: 0 0 10px 10px;
}

.london {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142150/locations/london.jpg")
    center center / cover no-repeat;
}

.london:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142150/locations/london.jpg")
    center center / cover no-repeat;
}

.los-angeles {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142189/locations/los_angeles.jpg")
    center center / cover no-repeat;
}

.los-angeles:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142189/locations/los_angeles.jpg")
    center center / cover no-repeat;
}

.tokyo {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142150/locations/tokyo.jpg")
    center center / cover no-repeat;
}

.tokyo:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142150/locations/tokyo.jpg")
    center center / cover no-repeat;
}

.washington-dc {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142156/locations/washington_dc.jpg")
    center center / cover no-repeat;
}

.washington-dc:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142156/locations/washington_dc.jpg")
    center center / cover no-repeat;
}

.honolulu {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478145717/locations/beach-dog.jpg")
    center center / cover no-repeat;
}

.honolulu:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478145717/locations/beach-dog.jpg")
    center center / cover no-repeat;
}

.paris {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142149/locations/Paris.jpg")
    center center / cover no-repeat;
}

.paris:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142149/locations/Paris.jpg")
    center center / cover no-repeat;
}

.berlin {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142149/locations/berlin.jpg")
    center center / cover no-repeat;
}

.berlin:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142149/locations/berlin.jpg")
    center center / cover no-repeat;
}

.san-francisco {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142149/locations/san_francisco.jpg")
    center center / cover no-repeat;
}

.san-francisco:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142149/locations/san_francisco.jpg")
    center center / cover no-repeat;
}

.cairo {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142161/locations/cairo.jpg")
    center center / cover no-repeat;
}

.cairo:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142161/locations/cairo.jpg")
    center center / cover no-repeat;
}

.new-york {
  background:
    linear-gradient(
      rgba(0,0,0,.15),
      rgba(0,0,0,.15)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142149/locations/new-york.jpg")
    center center / cover no-repeat;
}

.new-york:hover {
  background:
    linear-gradient(
      rgba(0,0,0,.05),
      rgba(0,0,0,.05)
      ),
    url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478142149/locations/new-york.jpg")
    center center / cover no-repeat;
}
