.my-listings {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  font-family: sans-serif;
  color: #4F4F4F;
}

.mt-no-listings {
  font-size: 16px;
  margin: 20px;
}

.ml-columns-container {
  display: flex;
  width: 1008px;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.ml-options-column {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 260px;
  min-width: 260px;
  justify-content: flex-start;
  align-content: flex-start;
}

.ml-nav-buttons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.ml-nav-button-selected {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.ml-nav-button-selected:hover {
  cursor: pointer;
}

.ml-nav-button {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: lighter;
}

.ml-nav-button:hover {
  cursor: pointer;
  color: #BBBBBB;
}

.ml-add-listing-button {
  width: 175px;
  min-width: 175px;
  background: #007A87;
  cursor: pointer;
  height: 35px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml-add-listing-button:hover {
  background: #009AAB;
}

.ml-listings-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  border: 1px solid #DCE0E0;
  margin-bottom: 50px;
}

.ml-listed-box {
  background-color: #EDEFED;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #DCE0E0
}

.ml-listed-span {
  padding-left: 20px;
  font-weight: bold;
}

.ml-listing-item {
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DCE0E0;
  width: calc(100% - 40px);
  display: flex;
  justify-content: flex-start;
}

.ml-listing-last {

  border-bottom: 0;
}

.ml-listing-image {
  width: 290px;
  height: 180px;
}

.ml-description-column {
  padding-left: 25px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
}

.ml-description-title {
  font-weight: bold;
  font-size: 18px;
}

.ml-description-location {
  font-size: 14px;
  font-weight: lighter;
  padding-top: 20px;
}

.ml-description-preview {
  font-size: 14px;
  font-weight: bolder;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  width: 95px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ml-description-preview:hover {
  border: 1px solid #AAAAAA;
}
