.top-bar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: pretty-font;
  border-bottom: 1px solid #DCE0E0;
  color: #4F4F4F;
}

.logo {
  width: 140px;
  height: 40px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid #DCE0E0;
}

.logo:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  width: 66%;
  height: 100%;
  font-family: sans-serif;
}

.search-input {
  width: 100%;
  height: 60px;
  border: white;
  font-size: 13px;
  padding-left: 30px;
  right: 2px;
  padding-top: 2px;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 9px;
  text-align: left;
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478390875/Icons/magnifying-glass.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 2% 50%;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
}

.user-button {
  padding: 0 22px 0 22px;
  border-left: 1px solid #DCE0E0;
  height: 60px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.become-a-host {
  padding: 0 22px 0 22px;
  border-left: 1px solid #DCE0E0;
  height: 60px;
  font-size: 13px;
  display: flex;
  align-items: center;
  width: 120px;
  padding-right: 18px;
  border-left: 0;
}

.add-a-listing {
  padding: 0 22px 0 22px;
  border-left: 1px solid #DCE0E0;
  height: 60px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 120px;
  padding-right: 25px;
  border-left: 0;
}

.become-a-host-link {
  border: 2px solid #AAAAAA;
  padding: 7px;
  border-radius: 5px;
  max-height: 15px;

}

.become-a-host-link:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.user-button-new {
  padding-left: 22px;
  padding-right: 22px;
  border-left: 1px solid #DCE0E0;
  height: 60px;
  font-size: 13px;
}

.user-button-new:hover {
  background-color: #F5F5F5;
}

.user-button-logout {
  padding-left: 22px;
  padding-right: 22px;
  border-left: 1px solid #DCE0E0;
  height: 60px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.user-button-logout:hover {
  background-color: #F5F5F5;
}

.user-button:hover {
  background-color: #F5F5F5;
}

.top-bar-user-name {
  padding-top: 10px;
  padding-right: 8px;
}

.top-bar-user-image {
  width: 26px;
  height: 26px;
  border: 2px solid #C4C4C4;
  border-radius: 15px;
  margin-top: 2px;
}

.footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #484848;
  color: white;
  font-family: pretty-font;
}

.footer-text-container {
  width: 60%;
  padding-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-text:hover {
  cursor: pointer;
  color: #B8B8B8
}

.user-button-trips {
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  min-width: 50px;
  padding-right: 40px;
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478390871/Icons/briefcase-xxl.png');
}

.user-button-host {
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  min-width: 50px;
  padding-right: 40px;
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478391280/Icons/home_grey_192x192.png');
}
