.dropdown {
  display: inline-block;
  z-index: 5;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: flex;
  width: 300px;
}

.top-bar-dropdown-element {
  font-size: 13px;
  padding-top: 21px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: absolute;
  border-left: .25px solid #C4C4C4;
  border-right: .25px solid #C4C4C4;
  right: 184px;
  width: 250px;
  background: white;
  transition-property: right, width, padding-left;
  transition-duration: .5s;
  -webkit-transition-property: right, width, padding-left;
  -webkit-transition-duration: .5s;
}

.top-bar-dropdown-element:hover {
  right: 184px;
  width: 240px;
  padding-left: 30px;

}

.tbd-border {
  border-top: 1px solid #efefef;
  margin-top: 59px;
  position: absolute;
  width: 230px;
  right: 207px;
  align-self: center;
  height: 1px;
}

.tbd-one {
  border-top: .5px solid #DCE0E0;
}

.tbd-two {
  margin-top: 59px;
  border-bottom: .25px solid #DCE0E0;
  border-bottom-left-radius: 2px;
}

.top-bar-dropdown-element:hover {
  cursor: pointer;
}
