/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: pretty-font;
   src: url('https://res.cloudinary.com/dsguwnfdw/raw/upload/v1478195629/Gifs/prima_sans.ttf');
 }

@font-face {
  font-family: pretty-font-bold;
  src: url('https://res.cloudinary.com/dsguwnfdw/raw/upload/v1478195629/Gifs/prima_sans_bold.ttf');
}

::-webkit-input-placeholder {
   color: #767676;
}

:-moz-placeholder { /* Firefox 18- */
   color: #767676;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #767676;
}

:-ms-input-placeholder {
   color: #767676;
}

::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator { padding: 0px; margin: 0px; }
::-webkit-datetime-edit { padding: 0px; margin: 0px; }
::-webkit-datetime-edit-fields-wrapper { padding: 0px; margin: 0px; }
::-webkit-datetime-edit-text { padding: 0px; margin: 0px; }
::-webkit-datetime-edit-month-field { padding: 0px; margin: 0px; }
::-webkit-datetime-edit-day-field { padding: 0px; margin: 0px; }
::-webkit-datetime-edit-year-field { padding: 0px; margin: 0px; }
