.sl-book-listing {
  border-bottom: 1px solid #C4C4C4;
  border-left: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4;
  width: 100%;
  color: #4F4F4F;
  display: flex;
  flex-direction: column;
  font-family: pretty-font;
  align-content: center;
  justify-content: center;
  color: #4F4F4F;
}

.slb-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.slb-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slb-col-first {
  margin-left: 10px;
}

.slb-col-last {
  margin-right: 10px;
}

.slb-col-title {
  font-size: 13px;
  padding: 20px 0 5px 0;
}

.slb-col-date {
  font-size: 12px;
  padding-left: 7px;
  height: 35px;
  width: 85px;
  border: 1px solid grey;
  border-radius: 2px;
}

.slb-col-date:focus {
  box-shadow: 0 0 6px #3F7BB8;
}

.slb-col-guests {
  font-size: 12px;
  background: white;
  padding-left: 7px;
  height: 37px;
  width: 60px;
  border: 1px solid grey;
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478296198/Icons/triangle-arrow-bottom-down-vector-ui-128.png');
  background-size: 8px 6px;
  background-repeat: no-repeat;
  background-position: 85% 55%;
  border-radius: 2px;
}

.slb-col-guests:focus {
  box-shadow: 0 0 6px #3F7BB8;
}

.slb-book {
  margin-bottom: 20px;
  display: flex;
  width: 278px;
  justify-content: center;
  align-items: center;
  background-color: #FF5A5F;
  color: white;
  height: 40px;
  font-size: 15px;
  border-radius: 4px;
  align-self: center;
}

.slb-disclaimer {
  margin-bottom: 20px;
  display: flex;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  color: #767676;
  align-self: center;
}

.slb-book:hover {
  background-color: #FF7E82;
  cursor: pointer;
}

.slb-errors {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.slb-error {
  color: #B34143;
  font-size: 13px;
  padding-left: 15px;
}
