.sl-description {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  
  width: 100%;
  color: #4F4F4F;
}

.sl-about-row {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
}

.sl-about-span {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 20px;
}

.sl-description-span {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 20px;
}

.sl-section-header {
  font-family: pretty-font;
  font-size: 18px;
  margin-top: 30px;
  width: 170px;
  min-width: 170px;
}

.sl-amenities {
  display: flex;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 18px;
  justify-content: space-between;
  width: 100%;
}

.sl-amenities-cols {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
  padding-bottom: 20px;
}

.sl-amenities-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sl-amenity-true {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 43px;
  font-weight: 500;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 40px;
}

.sl-amenity-false {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 43px;
  text-decoration: line-through;
}

.sl-rules {
  display: flex;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 18px;
  justify-content: flex-start;
  width: 100%;
}

.sl-rules-col {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sl-rule {
  font-family: sans-serif;
  font-weight: lighter;
  height: 40px;
}

.sl-dog-walks {
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478565304/Icons/20983.png');
}

.sl-doggy-bed {
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478377852/Icons/amenities/dog-bed.png');
}

.sl-house-cat {
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478565371/Icons/cat.png');
}

.sl-cuddle-buddy {
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478377956/Icons/amenities/cuddle.png');
}

.sl-dog-food {
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478377860/Icons/amenities/dog-food.png');
}

.sl-chew-toys {
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478379134/Icons/amenities/nature-dog-bone-icons-4.png');
  background-size: 25px 25px;
}

.sl-frisbee {
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478377865/Icons/amenities/frisbee.png');
}

.sl-mailman {
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478377952/Icons/amenities/mailman.png');
}

.sl-grooming {
  background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478377953/Icons/amenities/grooming.png');
}
