.show-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4F4F4F;
  font-family: pretty-font;
}

.sl-image {
  display: flex;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  background-size: 100% 115%;
  font-family: pretty-font;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sl-img-columns-container {
  display: flex;
  width: 1010px;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.sl-img-first-col {
  display: flex;
  visibility: hidden;
  min-height: 100px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sl-img-second-col {
  display: flex;
  width: 314px;
  min-width: 314px;
  flex-direction: column;
  align-items: center;
}

.sl-price-container {
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(50, 50, 50, 0.85);
  font-family: sans-serif;
  font-weight: 400;
}

.sl-price {
  padding-left: 20px;
  font-size: 24px;
  color: white;
}

.sl-dollar-sign {
  font-size: 24px;
}

.sl-per-night {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 13.5px;
  color: white;
  padding-right: 22px;
  padding-top: 2px;
}

.sl-columns-container {
  display: flex;
  width: 1008px;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.sl-first-col {
  display: flex;
  width: 500px;
  min-width: 666px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sl-dummy-col {
  min-width: 30px;
}

.sl-second-col {
  display: flex;
  width: 312px;
  min-width: 312px;
  flex-direction: column;
  align-items: center;
}

.sl-title-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 20px;
  width: 100%;
}

.sl-title-col {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-right: 40px;
}

.sl-title {
  font-family: pretty-font-bold;
  font-size: 34px;
  letter-spacing: -1.5px;
  font-weight: lighter;
}

.sl-sub-title-row {
  margin-top: 10px;
  display: flex;
  height: 20px;
  align-items: center
}

.sl-sub-title {
  margin-left: 7px;
  margin-right: 3px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14.5px;
}

.slst-first {
  margin-left:0px;
}

.sl-star {
  height: 15px;
  width: 15px;
  padding-top: 2px;
  margin-left: 3px;
  align-self: flex-start;
}

.sl-host-col {
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
}

.sl-host-img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.sl-host-name {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  padding-top: 10px;
}
